body {
    font-family: 'Verdana', sans-serif;
    background-color: #282c35;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #373e4a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#backButton{
    margin-top: 15px;
    background-color: red;
    width: 340px;
    transition: background-color 0.3s;
}

#backButton:hover{
    background-color: rgb(175, 0, 0);
}

.retorno{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}